<div class="container">
    <div class="cover">
        <img class="image" [src]="selectedComic?.imageUrl" alt="portada">
    </div>

    <div class="detail">
        <div class="detail__name">{{ selectedComic?.name | uppercase }}</div>
        <div>{{ selectedComic?.realName !== null ? selectedComic?.realName : ''}}</div>
        <div class="detail__characteristics">
            <div class="detail__characteristics__item">
                <img src="assets/images/lighting.png" alt="" width="70px">
                <div class="detail__characteristics__item__description">{{ selectedComic?.characteristic }}</div>
            </div>
            <div class="detail__characteristics__item">
                <img src="assets/images/rocket.png" alt="" width="70px">
                <div class="detail__characteristics__item__description">Debutó en el año {{ selectedComic?.debutYear }}</div>
            </div>
            <div class="detail__characteristics__item">
                <img src="assets/images/comic.png" alt="" width="70px">
                <div class="detail__characteristics__item__description">{{ selectedComic?.numberIssues }} comics</div>
            </div>
        </div>
        <div class="detail__about">
            <div class="detail__about__title">Acerca de:</div>
            <div class="detail__about__description">
                {{ selectedComic?.description }}
            </div>
        </div>
    </div>
</div>
